.category-nav {
  position: fixed;
  top: 81px;
  left: 0;
  width: 100%;
  padding: 0 60px;
  margin: 0 auto;
  z-index: 3;
  display: block;
  border-bottom: 1px solid $border;
  background-color: #ffffff;
  &.not-fixed {
    display: none;
  }
}
.category-nav-wrap {
  display: flex;
  justify-content: flex-start;
  padding: 13px 0;
  li {
    @include small($dark);
    font-weight: 700;
    margin-right: 20px;
    cursor: pointer;

    &:hover {
      color: $blue;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}