.product-header-category-wrap {
  padding-top: 152px;
  padding-bottom: 40px;
  &.fixed {
    position: fixed;
    width: 100%;
    padding: 0 60px;
    margin: 0 auto;
    z-index: 3;
  }

  span {
    padding-right: 8px;
    @include small($secondary);
    font-weight: 400;
    cursor: pointer;

    &::after {
      font-size: 7px;
      color: $tertiary;
      content: ">";
      padding-left: 8px;
    }

    &:last-child::after {
      content: "";
      padding-right: 0;
    }
  }
}