.writing-question-button {
  border: none;
  background-color: inherit;
  @include base($blue);
  font-weight: 700;
  cursor: pointer;
}

.writing-question-form-wrap {
  padding-bottom: 40px;

  .question-form-close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: inherit;
    border: none;
    cursor: pointer;
  }

  .question-title-wrap {
    text-align: center;
    margin-bottom: 30px;
    .question-title {
      font-size: 20px;
      line-height: 1.35;
      font-weight: 700;
      color: $dark;
    }
  }

  .kind-of-question-title {
    font-size: 15px;
    font-weight: 700;
    color: #292929;
    margin-bottom: 16px;
  }

  .kind-of-question-wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 600px;
    height: 100px;
    margin-bottom: 30px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33.333333%;
      height: 49px;
      border: 1px solid $border;
      color: #424242;
      font-size: 15px;
      line-height: 40px;
      font-weight: 700;
      cursor: pointer;
      &:hover {
        background-color: $background;
      }
      &.clicked {
        background-color: #35c5f0;
        color: $white;
      }
    }
  }

  textarea {
    width: 100%;
    height: 98px;
    padding: 9px 15px;
    border: 1px solid $border;
  }

  p {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 15px;
    @include small($secondary);
  }

  .button-wrap {
    width: 100%;
    button {
      width: 100%;
      background-color: #35c5f0;
    }
  }
}
