@charset "UTF-8";
* {
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Noto Sans KR", sans-serif; }

/* Reset CSS */
a {
  color: inherit;
  text-decoration: none !important; }

button,
input,
textarea {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px; }

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none; }

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0; }

.container {
  width: 100%;
  max-width: 768px;
  padding: 0 10px;
  margin: 0 auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; }

[class*="col-md-"] {
  padding: 0 10px; }

.col-md-1 {
  width: 64px; }

.col-md-2 {
  width: 128px; }

.col-md-3 {
  width: 192px; }

.col-md-4 {
  width: 256px; }

.col-md-5 {
  width: 320px; }

.col-md-6 {
  width: 384px; }

.col-md-7 {
  width: 448px; }

.col-md-8 {
  width: 512px; }

.col-md-9 {
  width: 576px; }

.col-md-10 {
  width: 640px; }

.col-md-11 {
  width: 704px; }

.col-md-12 {
  width: 768px; }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px; }
  [class*="col-xl-"] {
    padding: 0 10px; }
  .col-xl-1 {
    width: 95px; }
  .col-xl-2 {
    width: 190px; }
  .col-xl-3 {
    width: 285px; }
  .col-xl-4 {
    width: 380px; }
  .col-xl-5 {
    width: 475px; }
  .col-xl-6 {
    width: 570px; }
  .col-xl-7 {
    width: 665px; }
  .col-xl-8 {
    width: 760px; }
  .col-xl-9 {
    width: 855px; }
  .col-xl-10 {
    width: 950px; }
  .col-xl-11 {
    width: 1045px; }
  .col-xl-12 {
    width: 1140px; } }

.sr-only {
  position: absolute;
  left: -999px;
  top: -999px;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  z-index: -999;
  overflow: hidden; }

input,
select {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #3F4150;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid #E0E2E7;
  cursor: pointer; }
  input::placeholder,
  select::placeholder {
    color: #A2A5AF; }
  input.disabled,
  select.disabled {
    cursor: default; }
  input:hover,
  select:hover {
    background-color: #F7F8FA; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 8px;
  border: none;
  border-radius: 4px;
  background-color: #3DA8F5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer; }

.button.big {
  height: 55px;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: -0.02em;
  color: #FFFFFF; }

.button.big.reverse {
  border: 1px solid #3DA8F5;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: -0.02em;
  color: #3DA8F5;
  background-color: #FFFFFF; }

.button.disabled {
  background-color: #E0E2E7;
  color: #1B1C32;
  cursor: default; }

.login-page {
  padding-top: 80px; }
  .login-page .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .login-page .container .login-page-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 360px;
      padding: 40px 30px; }
      .login-page .container .login-page-wrap .page-logo {
        margin-right: 0;
        margin-bottom: 30px; }

.input-id-pw input {
  height: 50px; }

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 20px 0;
  background-color: #35c5f0; }

.login-action {
  font-size: 15px;
  line-height: 1.4;
  color: #424242; }

.login-sns {
  width: 100%;
  padding-bottom: 30px;
  margin: 30px 0;
  border-bottom: 1px solid #E0E2E7; }
  .login-sns p {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.005em;
    font-weight: 400;
    color: #757575;
    text-align: center; }
  .login-sns .kind-of-sns {
    display: flex;
    justify-content: center;
    align-items: center; }
    .login-sns .kind-of-sns li {
      margin-right: 20px; }
      .login-sns .kind-of-sns li:last-child {
        margin-right: 0; }
      .login-sns .kind-of-sns li img {
        width: 48px;
        height: 48px;
        border-radius: 50%; }

.sign-up-page {
  padding-top: 40px; }
  .sign-up-page .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sign-up-page .sign-up-page-logo {
    align-items: flex-start; }

.sign-up-page-wrap {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 60px 0; }
  .sign-up-page-wrap .sign-up-page-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #424242; }
  .sign-up-page-wrap .sign-up-sns {
    padding-bottom: 30px;
    margin: 30px 0;
    border-bottom: 1px solid #E0E2E7; }
    .sign-up-page-wrap .sign-up-sns p {
      margin-bottom: 12px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -0.005em;
      font-weight: 400;
      color: #757575;
      text-align: center; }
    .sign-up-page-wrap .sign-up-sns .kind-of-sns {
      display: flex;
      justify-content: center;
      align-items: center; }
      .sign-up-page-wrap .sign-up-sns .kind-of-sns li {
        margin-right: 20px; }
        .sign-up-page-wrap .sign-up-sns .kind-of-sns li:last-child {
          margin-right: 0; }
        .sign-up-page-wrap .sign-up-sns .kind-of-sns li img {
          width: 48px;
          height: 48px;
          border-radius: 50%; }
  .sign-up-page-wrap .sign-up-form-group {
    margin-bottom: 30px; }
    .sign-up-page-wrap .sign-up-form-group .email-id,
    .sign-up-page-wrap .sign-up-form-group .email-list {
      width: 170px; }
    .sign-up-page-wrap .sign-up-form-group input {
      font-size: 15px; }
    .sign-up-page-wrap .sign-up-form-group input::placeholder {
      color: #bdbdbd; }
    .sign-up-page-wrap .sign-up-form-group .email-list {
      height: 40px;
      padding: 0 30px 0 15px;
      border: 1px solid #E0E2E7;
      border-radius: 4px;
      font-size: 15px;
      color: #424242;
      font-weight: 400; }
    .sign-up-page-wrap .sign-up-form-group .email-seperator {
      font-size: 15px;
      color: #E0E2E7; }
    .sign-up-page-wrap .sign-up-form-group h1 {
      margin-bottom: 15px;
      color: #292929;
      font-size: 15px;
      line-height: 21px; }
    .sign-up-page-wrap .sign-up-form-group p {
      margin-bottom: 6px;
      font-size: 13px;
      line-height: 1.53846;
      color: #858896; }

.agreement {
  margin-bottom: 30px; }
  .agreement .agreement-title {
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 21px;
    color: #292929; }
  .agreement .agreement-wrap {
    padding: 23px 23px 6px 16px;
    border: 1px solid #E0E2E7;
    border-radius: 4px; }
  .agreement .agreement-all {
    display: flex;
    align-items: center;
    padding-bottom: 18px;
    margin-bottom: 16px;
    border-bottom: 1px solid #E0E2E7; }
    .agreement .agreement-all span {
      color: #424242;
      font-size: 14px;
      font-weight: 700; }
    .agreement .agreement-all input {
      width: 22px;
      height: 22px;
      margin-right: 10px;
      border-radius: 4px;
      border: 1px solid #bdbdbd; }
  .agreement .agreement-list-item {
    display: flex;
    align-items: center;
    padding-bottom: 16px; }
    .agreement .agreement-list-item span {
      color: #424242;
      font-size: 14px;
      line-height: 21px;
      font-weight: 400; }
    .agreement .agreement-list-item .agreement-usepolicy,
    .agreement .agreement-list-item .agreement-privacy {
      text-decoration: underline; }
    .agreement .agreement-list-item .agreement-requirement {
      margin-left: 4px;
      color: #35c5f0;
      font-weight: 12px;
      text-decoration: none; }
    .agreement .agreement-list-item .agreement-choice {
      margin-left: 4px;
      color: #bdbdbd; }
    .agreement .agreement-list-item input {
      width: 22px;
      height: 22px;
      margin-right: 10px;
      border-radius: 4px;
      border: 1px solid #bdbdbd; }

.sign-up-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 76px;
  margin-bottom: 30px;
  background-color: #35c5f0; }

.sign-up-sign-in {
  color: #424242;
  font-size: 15px;
  text-align: center; }
  .sign-up-sign-in span {
    padding-left: 10px;
    font-weight: 700;
    text-decoration: underline; }

.gnb {
  border-bottom: 1px solid #E0E2E7; }

.gnb-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px; }
  .gnb-wrap .gnb-left,
  .gnb-wrap .gnb-right {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .gnb-wrap .gnb-right {
    justify-content: flex-end; }

.page-logo {
  width: 83px;
  height: 23px;
  margin-right: 70px; }
  .page-logo img {
    width: 100%;
    height: auto; }

.nav-menu {
  display: flex;
  align-items: center; }
  .nav-menu li {
    margin-right: 36px;
    font-size: 18px;
    line-height: 1.55556;
    letter-spacing: -0.02em;
    color: #3F4150;
    font-weight: 700; }
    .nav-menu li a:hover {
      color: #3DA8F5; }
    .nav-menu li:last-child {
      margin-right: 0; }

.search {
  position: relative;
  margin-right: 32px; }
  .search .icon-search {
    position: absolute;
    left: 10px;
    top: 10px; }
  .search .search-input {
    width: 264px;
    padding-left: 40px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #A2A5AF; }
  .search .search-list {
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    z-index: 1;
    display: none;
    width: 100%;
    max-height: 0;
    padding: 16px 8px 8px 8px;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    transition: border-color 200ms ease-in, padding 200ms ease-in, max-height 200ms ease-in, box-shadow 200ms ease-in; }
  .search .search-list.show {
    display: block;
    max-height: 272px;
    border: 1px solid #E0E2E7;
    background-color: #FFFFFF; }
  .search .search-list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px; }
    .search .search-list-header span {
      font-size: 13px;
      line-height: 1.53846;
      color: #858896;
      font-weight: 400; }
    .search .search-list-header button {
      border: none;
      background-color: inherit;
      font-size: 13px;
      line-height: 1.53846;
      color: #858896;
      cursor: pointer; }
  .search .search-list-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 44px;
    padding: 10px 0 10px 16px; }
    .search .search-list-item:hover {
      background-color: #F7F8FA; }
    .search .search-list-item a {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: -0.01em;
      color: #3F4150;
      font-weight: 400; }
    .search .search-list-item button {
      background-color: inherit;
      border: none;
      cursor: pointer; }
  .search .search-is-typing-wrap {
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    z-index: 1;
    display: none;
    width: 100%;
    max-height: 0;
    padding: 8px 8px;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    transition: border-color 200ms ease-in, padding 200ms ease-in, max-height 200ms ease-in, box-shadow 200ms ease-in; }
    .search .search-is-typing-wrap li {
      z-index: 2;
      position: relative;
      height: 40px;
      padding: 10px 10px 10px 30px;
      background-color: #F7F8FA; }
      .search .search-is-typing-wrap li a {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #A2A5AF; }
      .search .search-is-typing-wrap li .icon-search {
        position: absolute;
        left: 8px;
        top: 13px;
        color: #E0E2E7; }
  .search .search-is-typing-wrap.show {
    display: block;
    max-height: 236px;
    border: 1px solid #E0E2E7; }

.utils {
  display: flex;
  align-items: center; }
  .utils .authorized {
    display: flex;
    align-items: center; }
    .utils .authorized .authorized-bookmark-wrap,
    .utils .authorized .authorized-bell-wrap,
    .utils .authorized .authorized-cart-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      margin-right: 8px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3ms ease-in-out; }
      .utils .authorized .authorized-bookmark-wrap:hover,
      .utils .authorized .authorized-bell-wrap:hover,
      .utils .authorized .authorized-cart-wrap:hover {
        background-color: #3DA8F5; }
    .utils .authorized .user-profile-img {
      position: relative;
      z-index: 1;
      margin-right: 32px; }
      .utils .authorized .user-profile-img.show::before {
        content: "";
        position: absolute;
        z-index: 2;
        top: calc(100% - 5px);
        left: 5.5px;
        border-top: 0px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 16px solid #E0E2E7; }
      .utils .authorized .user-profile-img.show::after {
        content: "";
        position: absolute;
        z-index: 3;
        top: calc(100% - 3px);
        left: 5.5px;
        border-top: 0px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 16px solid #FFFFFF; }
      .utils .authorized .user-profile-img button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        padding: 0;
        cursor: pointer;
        border: 1px solid #FFFFFF; }
        .utils .authorized .user-profile-img button img {
          width: 100%;
          height: 100%; }
        .utils .authorized .user-profile-img button:hover {
          border: 1px solid #3DA8F5; }
      .utils .authorized .user-profile-img .user-modal {
        position: absolute;
        left: -80px;
        top: calc(100% + 10px);
        z-index: 2;
        display: none;
        width: 200px;
        max-height: 0;
        padding: 8px 8px 8px 8px;
        border: none;
        border-radius: 4px;
        overflow: hidden;
        transition: border-color 200ms ease-in, padding 200ms ease-in, max-height 200ms ease-in, box-shadow 200ms ease-in; }
      .utils .authorized .user-profile-img .user-modal.show {
        display: block;
        max-height: 272px;
        border: 1px solid #E0E2E7;
        background-color: #FFFFFF; }
        .utils .authorized .user-profile-img .user-modal.show li {
          width: 100%;
          z-index: 2;
          height: 40px;
          padding: 10px 10px 10px 30px;
          background-color: #FFFFFF;
          cursor: pointer; }
          .utils .authorized .user-profile-img .user-modal.show li:hover {
            background-color: #F7F8FA; }

.utils {
  display: flex;
  align-items: center; }
  .utils .unauthorized {
    display: flex;
    align-items: center; }
    .utils .unauthorized .unauthorized-cart-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3ms ease-in-out; }
      .utils .unauthorized .unauthorized-cart-wrap:hover {
        background-color: #3DA8F5; }
    .utils .unauthorized span {
      padding: 2px 2px;
      margin: 0 6px;
      font-size: 14px;
      line-height: 1.71429;
      letter-spacing: -0.01em;
      color: #858896;
      font-weight: 700; }
      .utils .unauthorized span:hover {
        color: #3DA8F5; }
    .utils .unauthorized .utils-login {
      position: relative; }
      .utils .unauthorized .utils-login::after {
        content: '';
        position: absolute;
        left: 100%;
        top: 6px;
        bottom: 3px;
        margin-left: 6px;
        border-right: 1px solid #A2A5AF; }
    .utils .unauthorized .utils-sign-up {
      margin-right: 30px; }

.main-page .container {
  display: flex;
  justify-content: center; }
  .main-page .container .home-images-wrap {
    width: 1000px; }
    .main-page .container .home-images-wrap img {
      width: 100%;
      height: auto; }

.category-nav {
  border-bottom: 1px solid #E0E2E7; }

.category-nav-wrap {
  display: flex;
  justify-content: flex-start;
  padding: 13px 0; }
  .category-nav-wrap li {
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: -0.01em;
    color: #1B1C32;
    font-weight: 700;
    margin-right: 20px;
    cursor: pointer; }
    .category-nav-wrap li:hover {
      color: #3DA8F5; }
    .category-nav-wrap li:last-child {
      margin-right: 0; }

.product-header-category-wrap {
  padding-top: 24px;
  padding-bottom: 40px; }
  .product-header-category-wrap span {
    padding-right: 8px;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: -0.01em;
    color: #858896;
    font-weight: 400;
    cursor: pointer; }
    .product-header-category-wrap span::after {
      font-size: 7px;
      color: #A2A5AF;
      content: ">";
      padding-left: 8px; }
    .product-header-category-wrap span:last-child::after {
      content: "";
      padding-right: 0; }

.product-thumbnails {
  display: flex; }
  .product-thumbnails .product-thumbnails-left {
    display: flex;
    flex-direction: column; }
    .product-thumbnails .product-thumbnails-left .thumbnail-wrap {
      width: 75px;
      height: 75px;
      margin-bottom: 4px;
      border-radius: 4px;
      border: 2px solid #FFFFFF;
      background-size: cover;
      background-repeat: no-repeat;
      transform: scale(1);
      transition: all 0.2s ease; }
      .product-thumbnails .product-thumbnails-left .thumbnail-wrap:hover {
        border: 2px solid #3DA8F5;
        transform: scale(1.05); }
  .product-thumbnails .product-thumbnails-right {
    width: 500px;
    height: 500px;
    margin-left: 8px;
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat; }

.product-index-com-name {
  font-size: 13px;
  line-height: 1.53846;
  color: #3DA8F5;
  font-weight: 700;
  margin-bottom: 4px;
  cursor: pointer; }

.product-index-title {
  font-size: 24px;
  line-height: 1.41667;
  letter-spacing: -0.01em;
  color: #1B1C32;
  font-weight: 400;
  margin-bottom: 8px; }

.product-index-only-price-wrap span {
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
  color: #1B1C32;
  letter-spacing: -0.02em; }

.product-index-only-price-wrap .product-index-price {
  font-size: 32px;
  font-weight: 700; }

.product-index-price-wrap {
  display: flex;
  margin-bottom: 20px; }
  .product-index-price-wrap .product-index-dc-percent {
    margin-right: 16px;
    font-size: 44px;
    line-height: 54px;
    font-weight: 700;
    color: #3DA8F5; }
    .product-index-price-wrap .product-index-dc-percent span {
      font-size: 20px;
      line-height: 20px; }
  .product-index-price-wrap .product-index-prices {
    display: flex;
    flex-direction: column; }
    .product-index-price-wrap .product-index-prices .product-index-price-with-dc {
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      color: #858896;
      letter-spacing: -0.01em;
      text-decoration: line-through; }
      .product-index-price-wrap .product-index-prices .product-index-price-with-dc span {
        text-decoration: none; }
    .product-index-price-wrap .product-index-prices .product-index-dc-price {
      font-size: 32px;
      line-height: 32px;
      font-weight: 700;
      color: #1B1C32;
      letter-spacing: -0.02em; }
      .product-index-price-wrap .product-index-prices .product-index-dc-price span {
        font-size: 28px;
        font-weight: 500; }
      .product-index-price-wrap .product-index-prices .product-index-dc-price .product-has-dc {
        margin-left: 8px;
        padding: 2px 6px;
        border-radius: 4px;
        font-size: 12px;
        line-height: 20px;
        font-weight: 700;
        color: #FFFFFF;
        background-color: #F86D7D; }

.product-index-point {
  padding-bottom: 16px;
  border-bottom: 1px solid #E0E2E7;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #858896;
  letter-spacing: -0.01em; }
  .product-index-point-num {
    font-weight: 700;
    color: #3DA8F5; }

.product-index-delivery-wrap {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #E0E2E7;
  padding-top: 16px;
  padding-bottom: 20px; }
  .product-index-delivery-wrap .product-index-delivery {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #3F4150;
    letter-spacing: -0.01em; }
  .product-index-delivery-wrap .product-index-delivery-fee {
    display: inline;
    width: 56px;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: #858896;
    letter-spacing: -0.005em;
    background-color: #F7F8FA; }

.product-index-options-wrap {
  padding-top: 24px;
  padding-bottom: 22px; }
  .product-index-options-wrap select {
    border-color: #3DA8F5;
    margin-bottom: 8px;
    background-color: #FFFFFF; }

.option-wrap {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  margin-bottom: 10px;
  background-color: #F7F8FA;
  border-radius: 4px; }
  .option-wrap-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px; }
    .option-wrap-top .option-title {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: -0.01em;
      color: #3F4150;
      font-weight: 400; }
    .option-wrap-top .option-close {
      background-color: inherit;
      border: none;
      cursor: pointer; }
  .option-wrap-bottom {
    display: flex;
    justify-content: space-between; }
    .option-wrap-bottom .option-count {
      width: 70px; }
      .option-wrap-bottom .option-count select {
        height: 24px;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 14px;
        line-height: 1.71429;
        letter-spacing: -0.01em;
        color: #3F4150;
        font-weight: 400; }
    .option-wrap-bottom .option-total-price {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: -0.01em;
      color: #1B1C32;
      font-weight: 700; }

.cart-total-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px; }
  .cart-total-price .text {
    font-size: 13px;
    line-height: 1.53846;
    color: #1B1C32;
    font-weight: 700; }

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px; }
  .buttons button {
    width: 49%; }

.product-tab-wrap {
  padding: 15px 0;
  background-color: #F7F8FA; }
  .product-tab-wrap ul {
    display: flex;
    justify-content: flex-start; }
    .product-tab-wrap ul li {
      width: 148px;
      text-align: center; }
      .product-tab-wrap ul li a {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #3F4150;
        font-weight: 700; }
        .product-tab-wrap ul li a:hover {
          color: #3DA8F5; }

.writing-review-wrap {
  width: 760px;
  padding: 40px 0 0 40px;
  border-radius: 4px; }
  .writing-review-wrap .writing-review-form-wrap {
    background-color: #FFFFFF;
    padding-bottom: 40px; }
  .writing-review-wrap .review-title-wrap {
    text-align: center;
    margin-bottom: 30px; }
    .writing-review-wrap .review-title-wrap .review-title {
      font-size: 20px;
      line-height: 1.35;
      font-weight: 700;
      color: #1B1C32; }
  .writing-review-wrap .review-point-info-wrap {
    display: flex;
    align-items: center;
    height: 45px;
    padding: 0 16px;
    margin-bottom: 20px;
    background-color: #525b61; }
    .writing-review-wrap .review-point-info-wrap .review-point-info {
      font-size: 15px;
      line-height: 15px;
      font-weight: 700;
      color: #FFFFFF; }
  .writing-review-wrap .product-thumbnail-and-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px; }
    .writing-review-wrap .product-thumbnail-and-info .product-thumbnail {
      width: 100px;
      height: 100px;
      border-radius: 4px;
      background-repeat: no-repeat;
      background-size: cover; }
    .writing-review-wrap .product-thumbnail-and-info .product-title-and-company {
      display: flex;
      flex-direction: column;
      margin-left: 12px; }
      .writing-review-wrap .product-thumbnail-and-info .product-title-and-company .product-company {
        font-size: 11px;
        color: #757575;
        margin-bottom: 6px; }
      .writing-review-wrap .product-thumbnail-and-info .product-title-and-company .product-title {
        font-size: 15px;
        line-height: 1.2;
        margin-bottom: 6px; }
  .writing-review-wrap .review-count-wrap {
    margin-bottom: 50px; }
    .writing-review-wrap .review-count-wrap-top .review-count-text {
      font-size: 15px;
      font-weight: 700;
      color: #292929; }
    .writing-review-wrap .review-count-wrap-bottom {
      display: flex;
      justify-content: flex-start; }
      .writing-review-wrap .review-count-wrap-bottom span {
        width: 55px;
        font-size: 15px;
        line-height: 42px; }
      .writing-review-wrap .review-count-wrap-bottom .review-star-count {
        display: flex;
        align-items: center; }
  .writing-review-wrap .review-photo-wrap {
    margin-bottom: 50px; }
    .writing-review-wrap .review-photo-wrap .review-photo-title {
      margin-bottom: 15px;
      font-size: 15px;
      font-weight: 700;
      color: #292929; }
    .writing-review-wrap .review-photo-wrap .review-photo-info {
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 400;
      color: #292929; }
    .writing-review-wrap .review-photo-wrap label {
      display: block;
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      border: 2px solid #35c5f0;
      font-size: 14px;
      line-height: 1.71429;
      letter-spacing: -0.01em;
      color: #35c5f0;
      font-weight: 700;
      background-color: #FFFFFF;
      text-align: center;
      cursor: pointer; }
    .writing-review-wrap .review-photo-wrap input {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0; }
  .writing-review-wrap .review-contents-wrap {
    margin-bottom: 50px; }
    .writing-review-wrap .review-contents-wrap .review-contents-title {
      margin-bottom: 15px;
      font-size: 15px;
      font-weight: 700;
      color: #292929; }
    .writing-review-wrap .review-contents-wrap textarea {
      padding: 9px 15px;
      width: 100%;
      height: 100px;
      border: 1px solid #E0E2E7; }
      .writing-review-wrap .review-contents-wrap textarea:hover {
        background-color: #F7F8FA; }
      .writing-review-wrap .review-contents-wrap textarea::placeholder {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #A2A5AF;
        font-weight: 400; }
  .writing-review-wrap .real-user-review-check {
    margin-bottom: 50px; }
    .writing-review-wrap .real-user-review-check-title {
      margin-bottom: 15px;
      font-size: 15px;
      font-weight: 700;
      color: #292929; }
    .writing-review-wrap .real-user-review-check-box {
      display: flex;
      justify-content: flex-start; }
      .writing-review-wrap .real-user-review-check-box input {
        width: 22px;
        height: 22px;
        margin-right: 10px; }
      .writing-review-wrap .real-user-review-check-box p {
        font-size: 15px;
        font-weight: 400;
        color: #292929; }
  .writing-review-wrap button.big.submit {
    width: 100%;
    background-color: #35c5f0; }
  .writing-review-wrap .warning-info {
    padding: 20px 40px;
    border-radius: 4px;
    background-color: #F7F8FA; }
    .writing-review-wrap .warning-info li {
      font-size: 13px;
      line-height: 1.46;
      font-weight: 400;
      color: #424242; }
      .writing-review-wrap .warning-info li::before {
        content: "•";
        margin-right: 5px; }
