.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 8px;
  border: none;
  border-radius: 4px;
  background-color: $blue;
  @include base($white);
  font-weight: 700;
  cursor: pointer;
}

.button.big {
  height: 55px;
  @include medium($white);
}

.button.reverse {
  border: 1px solid $blue;
  @include medium($blue);
  background-color: $white;
}

.button.big.reverse {
  border: 1px solid $blue;
  @include medium($blue);
  background-color: $white;
}

.button.disabled {
  background-color: $border;
  color: $dark;
  cursor: default;
}